@import url('../css/common.css');


/* header style */
header {
  background: rgba(0, 0, 0, 0.2);
  height: 100px;
  line-height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

header .inner-header {
  width: 84%;
  margin: 0 auto;
}

header .inner-header .logo {
  float: left;
  /* 이미지를 줄일땐 액자의 크기부터 줄여야 함 */
  width: 200px;
}

header .inner-header .logo img {
  width: 100%;
}

header .inner-header .gnb {

  float: left;
  margin-left: 80px;
}

header .inner-header .gnb li {
  float: left;
  margin-right: 80px;
}

header .inner-header .gnb li a {
  display: block;
  color: white;
  font-size: 16px;
}

header .inner-header .gnb li a:hover {
  color: #ff8342;
}


header .inner-header .tnb {
  float: right;
}

header .inner-header .tnb li {
  float: left;
  margin-right: 25px;
  color: white;
  font-size: 16px;
}

header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i {
  margin-right: 8px;
  font-size: 18px;
}
header .inner-header .tnb li:last-child i {
  margin-left: 5px;
}
header .inner-header .tnb li:last-child a {
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 30px;
}
header .inner-header .tnb li:last-child a:hover {
  background: white;
  color: #ff8342;
}
header .inner-header .gnb-mobile {
  display: none;
}


/* section.main style */
section.main {
  background: url('../img/vis_4.jpg') no-repeat center/cover fixed;
  height: 100vh;
  position: relative;
}

section.main .main-title {
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 10px #123;
}

section.main .main-title h2 {
  font-size: 55px;
}
section.main .main-title p {
  font-size: 25px;
  margin: 20px 0;
}
section.main .main-title .view {
  font-size: 15px;
  letter-spacing: normal, 2px;
  width: 180px;
  margin: 0 auto;
  display: block;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 8px 0;
  position: relative;
  overflow: hidden;
}
section.main .main-title .view::after {
  content: '';
  width: 0;
  height: 100%;
  background: rgba(255,255,255, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}

section.main .main-title .view:hover::after {
  width: 100%;
}


/* section > div.title 공통 style */

section .title {
  text-align: center;
}

section .title h2 {
  font-size: 45px;
  color: #111;
  margin-bottom: 5px;
}
section .title p {
  font-size: 18px;
  color: #555;
}

section .sub-container {
  width: 74%;
  margin: 0 auto;
}

/* section.about style */
section.about {
  margin: 80px 0;
}
section.about ul.sub-container {
  /* background: orange; */
  margin-top: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 30px;
}

section.about ul.sub-container li {
  float: left;
  width: 33.333%;
  height: 510px;
}

section.about ul.sub-container li a:hover .img-box img{
  transform: scale(1.2);
}

section.about ul.sub-container li .img-box {
  overflow: hidden;
}

section.about ul.sub-container li .img-box img {
  /* opacity: 0.3; */
  width: 100%;
  transition: 0.6s;
}

section.about ul.sub-container li .text {
  /* border: 1px solid #000; */
  padding: 25px;
}

section.about ul.sub-container li .text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
section.about ul.sub-container li .text p {
  font-size: 16px;
  margin-bottom: 20px;
}

section.about ul.sub-container li .text .more {
  text-transform: uppercase;
  font-weight: 700;
  /* border: 1px solid #000; */
  position: relative;
  padding-left: 40px;
}

section.about ul.sub-container li .text .more::before {
  content: '→';
  display: block;
  height: 30px;
  width: 30px;
  background: #ff8342;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -7px;
  text-align: left;
  line-height: 28px;
  color: white;
  display: flex;
  justify-content: center;
}

/* innovation 작업 */

/* 테두리부터 치고 다시 시작 */

section.innovation {
  position: relative;
  margin-bottom: 150px;
}

section.innovation .sub-container{
  width: 74%;
  margin: 0 auto;
  height: 571px;
  background: url('../img/product_1.jpg') no-repeat center/cover;
  margin-top: 50px;
}



section.innovation .sub-container .inner {
  width: 80%;
  position: relative;
  top: 82%;
  left: 10%;
}
section.innovation .sub-container .inner h3 {
  padding: 20px;
  background: white;
  font-weight: 700;
}
section.innovation .sub-container .inner .bottom {
  background: rgb(23, 4, 53);
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 0;
  color: white;
  font-weight: 300;
  position: relative;
}
section.innovation .sub-container .inner .bottom p {

  float: left;
}
section.innovation .sub-container .inner .bottom a {
  background: orange;
  margin-left: 50px;
  padding: 5px 30px;
  border-radius: 30px;

}

section.innovation .sub-container .inner .bottom a:hover {
  background: rgb(255, 115, 0)
}

section.innovation .sub-container .inner .en {
  font-family: 'Exo2';
}

/* innovation 끝 */

section.me {
  /* border: 1px solid #000; */
  width: 100%;
  height: 90vh;
  background: url('../img/me.jpg');
}

/* title, sub-container, button 3형제 */
/* me에 전체 백그라운드를 주고 나머지 3형제 width 마진 복붙 */
section.me .title {
  width: 74%;
  margin: 0 auto;
  padding: 60px;
}

section.me .sub-container {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 74%;
  margin: 0 auto;
  padding: 30px;
  /* height: 530px; */
}

/* 구역 레이아웃 */

section.me .sub-container .firstli {
 
  margin-bottom: 40px;
} 
section.me .sub-container .secondli {

  margin-top: 20px;
  position: relative;
}


/* 글씨 크기 작업  */


section.me .sub-container h3 {
  
  padding-bottom: 10px;
  font-size: 1.2em;
}
section.me .sub-container h3 i {
  color: orange;
  letter-spacing: 13px;
}
section.me .sub-container p {
 
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
}
section.me .sub-container li .more {
  width: 50%;

  padding: 5px 50px 20px 28px;
  font-weight: 700;
}
section.me .sub-container li .more i {
  color: orange;
}
section.me .sub-container .secondli ul {

  position: relative;
}
section.me .sub-container .secondli ul em {
  float: left;
  font-size: 1.1em;
  font-weight: 700;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 30px;

  padding-right: 30px;
}

section.me .sub-container .secondli ul p {
  width: 50%;
  float: left;
  padding-left: 50px;
}


section.me #incruit-btn {
  width: 15%;
  background: orange;
  padding: 10px 0;
  margin-top: 15px;
  margin-bottom: 50px;
  border-radius: 40px;
  color: white;
  text-shadow: 2px 2px 5px #123;;
  margin-left: 41.8%;
}

/* me 섹션 끝.. */


section.sns {
    margin: 80px 0;
    position: relative;
}

section.sns .title {

  width: 74%;
  margin: 0 auto;
  padding-bottom: 50px;

}
section.sns .sub-container {
  /* border: 1px solid #000; */
  width: 74%;
  margin: 0 auto;
  
}

section.sns .sub-container > li{
/* border: 1px solid yellow; */
  width: 100%; /* 패딩 6군데 나눠야 함 */
}

section.sns .sub-container > li a {
  float: left;
}

section.sns .sub-container > li a .img-box {
  /* 액자임 */

  width: 350px;
  height: 300px;
  float: left;
  
}

section.sns .sub-container > li a .img-box img {
  width: 100%;

  /* 사진임 */
}
section.sns .sub-container > li a .img-box img:hover {
  background: rgba(255, 166, 0, 0.603);
}

section.sns .sub-container > li a .img-box img:first-child {
  height: 250px;
}

/* 하아아 */

section.sns .sub-container > li a .bottom {
  /* border: 1px solid #0026ff; */
  padding: 50px 50px 50px 5px;
  font-size: 1.2em;
  font-weight: 700;
  width: 100%;

}

/* 설명 삼형제 */
section.sns .sub-container > li a .bottom .color {
  
  font-size: 0.9em;
  color: orange;
  padding-bottom: 10px;
}
section.sns .sub-container > li a .bottom .time {
  padding-top: 30px;
  font-size: 0.75em;
  color: lightslategray;
}
section.sns .sub-container > li a .bottom .time i {
  padding-right: 8px;
}

li.middleli {
  padding-left: 410px;
}
/* li.lastli {
  margin-left: 500px;
} */

section.sns .sub-container {
  position: relative;
  left: 120px;
}

/* sns섹션 끝.... */

footer {
  margin: 80px 0;
  position: relative;
}

footer .inner {
  width: 74%;
  margin: 0 auto;
  border-top: 1px solid lightgray;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

/* 3형제 */
footer .inner .ft-logo {
  width: 15%;
  float: left;
}

footer .inner .ft-logo img {
  width: 100%;
}

footer .inner .address {

  width: 19%;
  float: left;
  line-height: 20px;
  padding-left: 50px;
}
footer .inner .address li:first-child {
  font-weight: 700;
  font-size: 13px;
}

footer .inner .address li:last-child {
  font-family: "Exo2";
  color: grey
}

footer .inner .list {

  width: 70%;
  float: left;
  padding-left: 50px;
}

footer .inner .list li {

  float: left;
  padding: 0 40px;
}

footer .inner .list li:last-child {
  font-weight: 900;
}

footer .inner .list li:hover {
  text-decoration: underline;
  color: #ff8342;
}